<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>FileSpace © Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<form th:action="@{/cadastrar}" method="POST" th:object="${user}">
    <header th:insert="fragments/general.html :: header"/>
    <div class="box-aligned">
        <div class="left box-perfil">
            <h4>
                <i class="far fa-address-book"></i>
                Perfis
            </h4>
        </div>
        <div class="right">
            <h1>sdokasokdok</h1>
        </div>
        <div class="center">
            <h1>
                kdafofdosi
            </h1>
        </div>
    </div>
    <footer th:insert="fragments/general.html :: footer"/>
</form>
</body>
</html>